#units-window {
	display: flex;
	flex-direction: row;
}

#units-window .list-group {
	overflow-y: scroll;
	min-height: 600px;
}

#units-window li {
	border: gray solid 1px;
	box-shadow: inset 0px 0px 4px #fff;
	background: rgb(81, 81, 81);
	padding: 2px;
	margin-bottom: 4px;
	border-radius: 3px;
}

#units-window li span {
	border-radius: 3px;
	display: block;
	border: black solid 2px;
	padding: 3px;
	box-shadow: inset 0px 2px 4px #fff;
}

#units-window li.selected {
	background: rgb(29, 65, 29);
	border: gold solid 1px;
}

#units-window .details {
	width: 100%;
	margin-left: 10px;
	color: #fff;
}