#selected-entity {
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	height: 120px;
}

#selected-entity img.portrait {
	margin-right: 6px;
	border-width: 1px;
	border-style: solid;
	border-radius: 10%;
	border-color: #fff;
}

.grid-cell {
	border: #979797 outset 2px;
	float: left;
	width: 70px;
	height: 70px;
	padding: 1px;
}

#selected-unit {
	width: 480px;
	height: 160px;
	position: absolute;
	top: 565px;
	left: 520px;
	background: rgba(2, 4, 3, 0.3);
	padding: 5px;
	border-top-left-radius: 5px;
	color: white;
}