body {
  margin: 0;
  padding: 0;
  font-family: 'Grenze', sans-serif;
}

canvas {
  margin: 0;
  padding: 0;
}

#game {
  position: fixed;
}

#ui {
  position: relative;
}

.btn-sm {
  font-size: 10px;
}

.attr {
  color: #ddd180;
}

.btn {
  border: 1px solid #8c7b08;
}

.btn-sm {
  width: 100%;
  height: 20px;
  font-size: 10px;
  text-align: center;
  padding: 0;
  margin-bottom: 3;
}

.modal-content {
  background-color: #212529;
  color: #fff;
}

.modal-header {
  color: #ddd180;
}