body {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

header .content,
footer .content {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 31%,
      rgba(0, 0, 0, 0.2) 76%,
      rgba(0, 0, 0, 0) 100%);
}

canvas {
  margin: 0;
  padding: 0;
}

#game {
  position: fixed;
}

#ui {
  position: relative;
}

/* bootstrap overwrites */
.btn-sm {
  font-size: 10px;
}

button {
  background-image: url('../public/assets/ui/button.png');
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  width: 120px;
  height: 40px;
  color: #00c2ff;
  text-shadow: #fff 0 0 20px;
}