body {}

#root {
  position: relative;
}

canvas {
  margin-top: 0 !important;
}

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

footer {
  min-height: 100px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3) !important;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.well {
  background: #242424;
  border-radius: 3px;
  padding: 10px;
}

.block {
  width: 100%;
}