body {}

#root {
  position: relative;
}

canvas {
  margin-top: 0 !important;
}

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
}

#tooltip {
  position: fixed;
  bottom: 150px;
  color: gold;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}

footer {
  min-height: 100px;
  position: fixed;
  bottom: 0;
  display: block;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.well {
  background: #242424;
  border-radius: 3px;
  padding: 10px;
}

.block {
  width: 100%;
}